div{
    border-style: solid;
    border-width: 1px;
    font-family: 'Halant', serif;
    background-color:#2C3539;
}

.container{
    border-color:#2C3539;
    background-color:#848482;
}

b{
    color: black;
}

.row{
    background-color:#848482;
    color: black;
    font-size:50px;
    font-family: 'Roboto Slab', serif;
    border-left-color: #848482;
    border-right-color: #848482;
    border-top-color: #848482;
    border-bottom-color: #848482;
}

.row1{
    border-color: #848482;
    background-color: #848482;
    color: #0C090A;
}

.row2{
    background-color:#848482;
    border-left-color: #848482;
    border-right-color: #848482;
    border-bottom-color: #848482;
    border-top-color: #2C3539;
    color: black;
    font-size: 30px;
    margin-bottom: -25px;
}

.col-xs-2{
    border-color:#2C3539;
    background-color:#848482;
    color: black;
}

.col-xs-3{
    border-color:#848482;
    background-color:#848482;
    color: black;
    font-size: 30px;
    height: 75px;
}

.col-xs-4{
    border-color:black;
    background-color:#848482; 
    color: black;
    font-size: 18px;
}

.col-xs-8{
    border-color:black;
    background-color:#848482; 
    height: 75px;
}

.col-xs-12{
    border-color:black;
    background-color:#848482;
    
}

.list-group-item{
    border: 5px;
    border-color:#848482; 
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #848482;   
}
